<h1>Feladatok</h1>
<h2>2. lekérdezési feladat</h2>
<a asp-action="Feladat2">Elektromos autók</a>
<h2>3. lekérdezési feladat</h2>
<a asp-action="Feladat3">3Baleset</a>
<h2>4. lekérdezési feladat</h2>
<a asp-action="Feladat4">4Megtett táv</a>
<h2>5. lekérdezési feladat</h2>
<a asp-action="Feladat5">5 Első utolsó tesztüzem nap</a>
<h2>6. lekérdezési feladat</h2>
<a asp-action="Feladat6">6tobb</a>